:root {
  --color-fg: #24292f;
  --color-bg: #fff;
  --color-border: hsla(210, 18%, 87%, 1);
  --color-pre: #f6f8fa;
  --color-code: #3f3f46;
  --paragraph-border: #d2dcdc;
  --shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px 0.5px hsla(0, 0%, 0%, 0.1);
  --colored-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4), 0 1px 2px 0.5px hsla(0, 0%, 0%, 0.4);
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape mode */
}

html,
body {
  min-height: 100vh;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  vertical-align: middle;
}

main {
  font-size: 16px;
  max-width: 48em;
  margin-inline: auto;
  padding-inline: 1.5em;
}

h1 {
  margin: 2rem 0;
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--color-border);
}

#details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  padding-bottom: 2em;
}

details {
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 0.25em;
}

details[open] {
  box-shadow: var(--colored-shadow);
}

details > summary,
details > .content p {
  padding: 1.25em;
  cursor: pointer;
}

details > summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary svg {
  transform: rotate(90deg);
  transition: transform 0.25s ease;
}

details[open] > summary svg {
  transform: rotate(0);
}

details > .content p {
  margin: 0;
  border-top: 1px solid;
  border-color: var(--paragraph-border);
  display: grid;
  gap: 1em;
}

pre {
  margin: 1.25rem;
  margin-top: 0;
  padding: 1rem;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 6px;
  overflow: auto;
  background-color: var(--color-pre);
}

pre > code {
  color: var(--color-code);
  word-break: normal;
  white-space: pre;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #e4e4e4;
    --color-bg: #111010;
    --color-border: #21262d;
    --color-pre: #171717;
    --color-code: #ffedd5;
    --paragraph-border: #21262d;
    --shadow: 0 0px 1px hsla(0, 100%, 100%, 0.5),
      0 0px 2px hsla(0, 100%, 100%, 0.4);
    --colored-shadow: 0 0px 1px hsla(0, 100%, 100%, 1),
      0 0px 2px hsla(0, 100%, 100%, 0.9);
  }
}
